<!DOCTYPE HTML>
<html lang="en-US">
   <head>
      <meta charset="UTF-8">
      <title>Paquetería Tamazula</title>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
      <link rel="stylesheet" href="/Public/styles/inicio.css" />
   </head>
<body>
    <div class="navigation">
        <div class="container">
           <div class="navbarra">
              <div class="logo-toggle-container">
                 <a href="/">
                 <img src="/Public/images/fotos_inicio/Paqueteria (2).png" alt="" />
                 </a>
                 <span class="toggle-box">
                 <span></span>
                 <span></span>
                 <span></span>
                 </span>
              </div>
              
              <ul class="menu">
                  <li><a href="/">Inicio</a></li>
                  <li><a href="servicios">Servicios</a></li>
                  <li><a href="envios">Envíos</a></li>
                  <li><a href="sucursales">Sucursales</a></li>
                  <li><a href="cotizar">Cotizar</a></li>
                  <li><a href="crear_cuenta">Crear cuenta</a></li>
                  <a href="iniciar_sesion">
                    <button type="button" class="btn btn-outline-primary">Inicia sesión</button>
                 </a>
              </ul>
              
             
           </div>
        </div>
     </div>

   <div class="section">
      <div class="container2">
         <h1 class="main-text">Destinos y Horarios</h1>
         <hr width="50" size="5" color="#3b7cff">
         <br>
         <h2>Cada 24 horas</h2>
         <div class="container">
            <div class="row">
               <div class="col">
                  <h4>Ruta: Sur de Jalisco</h4>
                  <ul>
                     <li>Cd. Guzmán, Jal.</li>
                     <li>Sayula, Jal.</li>
                     <li>Usmajac, Jal.</li>
                     <li>Zapotiltic, Jal.</li>
                     <li>Tuxpan, Jal.</li>
                     <li>Cofradia del Rosario, Jal.</li>
                     <li>Atentique, Jal.</li>
                     <li>Gómez Farias, Jal.</li>
                     <li>San Andrés, Jal.</li>
                  </ul>
               </div>
               <div class="col">
                  <h4>Ruta: Colima</h4>
                  <ul>
                     <li>Villa de Álvarez, Col.</li>
                     <li>Quesería, Col.</li>
                     <li>El Trapiche, Col.</li>
                     <li>Cómala, Col.</li>
                     <li>Coquimatlan, Col.</li>
                     <li>Cuauhtémoc, Col</li>
                  </ul>
               </div>
            </div>
         </div>

         <h2>Cada 24 a 36 horas</h2>
         <div class="container">
            <div class="row">
               <div class="col">
                  <h4>Ruta: Costa Manzanillo</h4>
                  <ul>
                     <li>Tecomán, Col.</li>
                     <li>Unión de Tula, Jal.</li>
                     <li>Cihuatlan, Jal.</li>
                     <li>Juchitlán, Jal.</li>
                     <li>La Huerta, Jal.</li>
                     <li>El Grullo, Jal.</li>
                     <li>Manzanillo, Col.</li>
                     <li>Cocula, Jal.</li>
                     <li>Armeria, Col.</li>
                     <li>Melaque, Jal.</li>
                     <li>Jaluco, Jal.</li>
                     <li>Barra de Navidad, Jal.</li>
                     <li>Tecolotlán, Jal.</li>
                     <li>Santiago, Col.</li>
                     <li>C. Castillo, Jal.</li>
                     <li>Autlán, Jal</li>
                  </ul>
               </div>
            </div>
         </div>

         <h2>Cada 48 horas</h2>
         <div class="container">
            <div class="row">
               <div class="col">
                  <h4>Ruta: Tamazula, Jal.</h4>
                  <ul>
                     <li>San José de Gracia, Mich.</li>
                     <li>Ocotlán, Jal.</li>
                     <li>La Barca, Jal.</li>
                     <li>Jiquilpan, Mich.</li>
                     <li>Mazamitla, Jal.</li>
                     <li>Jamay, Jal.</li>
                     <li>Sahuayo, Mich.</li>
                     <li>Arandas, Jal.</li>
                     <li>Contla, Jal.</li>
                     <li>Poncitlan, Jal.</li>
                     <li>Atotonilco,Jal.</li>
                  </ul>
               </div>
            </div>
         </div>
         
      </div>
      <div>
         &nbsp
      </div>
   </div>
   <br><br><br><br><br><br><br>
   <div>
      <footer class="footer-principal">
         <span class="span-footer-principal">Paquetería Tamazula &reg &nbsp&nbsp&nbsp&nbspTodos los derechos reservados</span>
      </footer>
   </div>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   <script type="text/javascript" src="inicio.js"></script>
   
</body>
</html>