<!DOCTYPE HTML>
<html lang="en-US">
   <head>
      <meta charset="UTF-8">
      <title>Datos de cotización</title>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
      <link rel="stylesheet" href="editarDatosCotizacion.css" />
   </head>
   <body>
      <section class="form-register">
        <h4><b>Datos Cotización</b></h4>
        <tr>
            <td><b>Cliente: </b> </td> <td><input class="controls" type="text" name="cliente" id="cliente" placeholder="Cliente"></td>
        </tr>
        <br>
        <tr>
            <td><b>Origen: </b></td> <td><input class="controls" type="text" name="origen" id="origen" placeholder="Origen"></td>
        </tr>
        <br>
        <tr>
            <td><b>Destino: </b></td> <td><input class="controls" type="text" name="destino" id="destino" placeholder="Destino"></td>
        </tr>
        <br>
        <tr>
            <td><b>Tipo de envío: </b></td> <td><input class="controls" type="text" name="tipo envio" id="tipo envio" placeholder="Tipo de envío"></td>
        </tr>
        <br>
        <tr>
            <td><b>Peso en gramos: </b></td> <td><input class="controls" type="text" name="peso" id="peso" placeholder="Peso en gramos"></td>
        </tr>
        <br>
        <tr>
            <td><b>Medidas en cm: </b> </td> <td><input class="controls" type="text" name="medidas" id="medidas" placeholder="Medidas en cm"></td>
        </tr>
        <br>
        <tr>
            <td><b>Total: </b></td> <td><input class="controls" type="text" name="total" id="total" placeholder="Total"></td>
        </tr>
        <br>
        <tr>
            <td><b>Total (texto): </b> </td> <td><input class="controls" type="text" name="totaltxt" id="totaltxt" placeholder="Total (texto)"></td>
        </tr>
        <a href="cotizacion1.html">
            <input class="botons" type="submit" value="Confirmar">
        </a>
        
        <p><a href="inicio.html">Ir a inicio</a></p>
      </section>

   </body>
</html>