<!DOCTYPE HTML>
<html lang="en-US">
   <head>
      <meta charset="UTF-8">
      <title>Paquetería Tamazula - Inicio</title>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
      <link rel="stylesheet" href="/Public/styles/inicio.css" />
   </head>
   <body>
      <div class="navigation">
         <div class="container">
            <div class="navbarra">
               <div class="logo-toggle-container">
                  <a href="/">
                  <img src="public/images/fotos_inicio/Paqueteria (2).png" alt="" />
                  </a>
                  <span class="toggle-box">
                  <span></span>
                  <span></span>
                  <span></span>
                  </span>
               </div>
               
               <ul class="menu">
                  <li><a href="servicios">Servicios</a></li>
                  <li><a href="envios.html">Envíos</a></li>
                  <li><a href="destinos_horarios.html">Destinos y horarios</a></li>
                  <li><a href="sucursales.html">Sucursales</a></li>
                  <li><a href="cotizar.html">Cotizar</a></li>
                  <li><a href="crear_cuenta.html">Crear cuenta</a></li>
                  <a href="iniciar_sesion.html">
                     <button type="button" class="btn btn-outline-primary">Inicia sesión</button>
                  </a>
               </ul>
               
              
            </div>
         </div>
      </div>

      <div class="section">
        <div class="container2">
            <h1 class="main-text">Paquetería Tamazula</h1>
            <hr width="50" size="5" color="#3b7cff">
            <br>
            <p class="main-text-body" id="main-text-body-id"> La Paquetería Tamazula es una pequeña empresa de mensajería y paquetería que, actualmente, tiene cuatro sucursales en todo México. Dichas sucursales están ubicadas en Guadalajara, Estado de México, Colima y CD. Guzmán.</p>
        </div>
        <div>
            &nbsp
        </div>
        <img id="photo1" src="public/images/fotos_inicio/p1.jpeg" alt="">
      </div>
      <br><br><br><br><br>
      <div>
         <h3 class="main-text-secondary"> Todos los días puede haber una ocasión especial</h3>
      </div>
      <hr style="width: 10%; margin-left: 45%; color: #163470; size: 10%; height: 10px;">

      <div class="slider">
         <ul>
            <li><img src="public/images/fotos_inicio/slider/1.png" alt=""></li>
            <li><img src="public/images/fotos_inicio/slider/2.png" alt=""></li>
            <li><img src="public/images/fotos_inicio/slider/3.png" alt=""></li>
            <li><img src="public/images/fotos_inicio/slider/6.png" alt=""></li>
            <li><img src="public/images/fotos_inicio/slider/20.png" alt=""></li>
            <li><img src="public/images/fotos_inicio/slider/8.png" alt=""></li>
            <li><img src="public/images/fotos_inicio/slider/9.png" alt=""></li>
            <li><img src="public/images/fotos_inicio/slider/19.png" alt=""></li>
         </ul>
      </div>
      <div class="main-text-secondary-div">
         <p class="main-text-secondary-body">
            Por eso tenemos un compromiso de entrega que oscila entre las 24 hasta las 48 horas hábiles.
         </p>
      </div>
      <br>

      <div class="section3">
         <div class="container2">
             <h1 class="main-text">Entregas en todo México</h1>
             <hr width="50" size="5" color="#3b7cff">
             <br>
             <p class="main-text-body" id="main-text-body-id">Hacemos entregas especiales para aquellos lugares en México que son considerados de “difícil acceso”.</p>
         </div>
         <div>
            &nbsp
        </div>
        <img id="photo1" src="public/images/fotos_inicio/12.png" alt="">
      </div>
      <br><br>
      
      <div class="section3">
         <img id="photo1" src="public/images/fotos_inicio/15.png" alt="">
         <div>
            &nbsp &nbsp &nbsp
        </div>
         <div class="container3">
             <h1 class="main-text3">Seguro de mercancías</h1>
             <hr width="50" size="5" color="#3b7cff">
             <br>

             <p class="main-text-body3" id="main-text-body-id3">Los paquetes pueden ser protegidos con un seguro de mercancías al hacer tu envío, cualquier daño, robo o extravío que suceda el seguro de mercancías te cubre.</p>
         </div>
      </div>
      <br><br>

      <div class="section3">
         <div class="container2">
             <h6 class="main-text">Empleados</h6>
             <hr width="50" size="5" color="#3b7cff">
             <p class="main-text-body" id="main-text-body-id">
               Iniciar sesión aquí:
               <a style="margin-left: 30px;" href="loginTemporal.html">
                  <button type="button" class="btn btn-outline-primary">Inicia sesión</button>
               </a>
            </p>
         </div>
      </div>


      <br><br><br><br>
      <div>
         <footer class="footer-principal">
            <span class="span-footer-principal">Paquetería Tamazula &reg &nbsp&nbsp&nbsp&nbspTodos los derechos reservados</span>
         </footer>
      </div>


      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script type="text/javascript" src="inicio.js"></script>
      
   </body>
</html>