<!DOCTYPE HTML>
<html lang="en-US">
   <head>
      <meta charset="UTF-8">
      <title>Iniciar sesión</title>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
      <link rel="stylesheet" href="/Public/styles/iniciar_sesion.css" />
   </head>
   <body>
      <section class="form-register">
         <h4>Inicia sesión</h4>
         <a style="width:100%; text-align: center;" href="login_admin" class="botons" type="submit">
            Login Admin
         </a>

         <a style="width:100%; text-align: center;" href="login_logistica" class="botons" type="submit">
            Login Logistica
         </a>

         <a style="width:100%; text-align: center;" href="login_ventas" class="botons" type="submit">
            Login Ventas
         </a>
        <p style="margin: 0;"><a href="/">Página de inicio</a></p>
      </section>
   </body>
</html>