<!DOCTYPE HTML>
<html lang="en-US">
   <head>
      <meta charset="UTF-8">
      <title>Paquetería Tamazula - Sesión</title>
      <link rel="stylesheet" href="/Public/styles/inicio.css" />
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
   </head>
   <body>
      <div class="navigation">
         <div class="container">
            <div class="navbarra">
               <div class="logo-toggle-container">
                  <a href="/">
                  <img src="/Public/images/fotos_inicio/Paqueteria (2).png" alt="" />
                  </a>
                  <span class="toggle-box">
                  <span></span>
                  <span></span>
                  <span></span>
                  </span>
               </div>
               
               <ul class="menu">
                  <li><a href="/">Inicio</a></li>
                  <li><a href="servicios">Servicios</a></li>
                  <li><a href="envios">Envíos</a></li>
                  <li><a href="destinos_horarios">Destinos y horarios</a></li>
                  <li><a href="sucursales">Sucursales</a></li>
                  <li><a href="cotizar">Cotizar</a></li>
                  <a href="#">
                     <button type="button" class="btn btn-outline-primary">Hola, Juana</button>
                  </a>
               </ul>
            </div>
         </div>
      </div>

      <div class="section">
        <div style="width: 100%;" class="container2">
            <h1 class="main-text">Bienvenida: Juana</h1>
            <hr width="50" size="5" color="#3b7cff">
            <br>

            <div class="accordion" id="accordionExample">      
               <div class="accordion-item">
                  <h2 class="accordion-sheader" id="headingThree">
                     <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                     Registro de Cotizaciones
                     </button>
                  </h2>
                  <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                     <div class="accordion-body">
                        <table class="table">
                           <thead>
                              <tr>
                                 <th scope="col">Número<br> de<br> Cotización</th>
                                 <th scope="col">Fecha</th>
                                 <th scope="col">Origen</th>
                                 <th scope="col">Destino</th>
                                 <th scope="col">Peso</th>
                                 <th scope="col">Medidas</th>
                                 <th scope="col">Estatus</th>
                                 <th scope="col"></th>
                              </tr>
                           </thead>
                           <tbody>
                              <tr>
                                 <th scope="row">1</th>
                                 <td>10 oct 22</td>
                                 <td>Guadalajara</td>
                                 <td>Tamazula</td>
                                 <td>500 gramos</td>
                                 <td>30 cm x 30 cm x 30 cm</td>
                                 <td><button type="button" class="btn btn-secondary" disabled>Atendido</button></td>
                                 <td><a href="#">Detalles</a></td>
                              </tr>
                              <tr>
                                 <th scope="row">2</th>
                                 <td>11 oct 22</td>
                                 <td>Guadalajara</td>
                                 <td>Tamazula</td>
                                 <td>500 gramos</td>
                                 <td>30 cm x 30 cm x 30 cm</td>
                                 <td><button type="button" class="btn btn-danger">Pendiente</button></td>
                              </tr>
                              <tr>
                                 <th scope="row">3</th>
                                 <td>12 oct 22</td>
                                 <td>Guadalajara</td>
                                 <td>Tamazula</td>
                                 <td>500 gramos</td>
                                 <td>30 cm x 30 cm x 30 cm</td>
                                 <td><button type="button" class="btn btn-danger">Pendiente</button></td>
                              </tr>
                           </tbody>
                        </table>
                     </div>
                  </div>
               </div>

               <div class="accordion-item">
                  <h2 class="accordion-header" id="headingFour">
                     <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                        Rutas
                     </button>
                     </h2>
                     <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                           <label for="origen">Origen</label>
                           <select style="width: 20%; display: inline;" id="origen" class="form-select" aria-label="Default select example">
                              <option selected>Edo. de Mexico</option>
                              <option value="1">Guadalajara</option>
                              <option value="2">Cd. Guzmán</option>
                              <option value="3">Colima</option>
                           </select>
                           &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                           <label for="destino">Destino</label>
                           <select style="width: 20%; display: inline;" id="destino" class="form-select" aria-label="Default select example">
                              <option selected>Guadalajara</option>
                              <option value="1">Edo. de Mexico</option>
                              <option value="2">Cd. Guzmán</option>
                              <option value="3">Colima</option>
                           </select>
                           <br><br>

                           <label for="peso">Peso</label>
                           <div style="width: 20%;" class="input-group mb-3">
                              <span class="input-group-text">Kilos</span>
                              <input id="peso" type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                           </div>
                           <br>

                           <label for="medidas">Medidas (en centímetros)</label>
                           <div style="width: 50%;" id="medidas" class="input-group">
                              <span class="input-group-text">Altura, ancho y largo</span>
                              <input type="text" aria-label="Altura" class="form-control">
                              <input type="text" aria-label="Ancho" class="form-control">
                              <input type="text" aria-label="Largo" class="form-control">
                            </div>

                           <br><br>
                           <a style="margin-left: 50px;" href="crear_cuenta_admin">
                              <button type="button" class="btn btn-outline-primary">Nuevo</button>
                           </a>
                           <a style="margin-left: 50px;" href="crear_cuenta_admin">
                              <button type="button" class="btn btn-outline-primary">Editar</button>
                           </a>
                           <a style="margin-left: 50px;" href="crear_cuenta_admin">
                              <button type="button" class="btn btn-outline-primary">Eliminar</button>
                           </a>
                        </div>
                     </div>
                  </div>

            </div>



        </div>
        <div>
            &nbsp
        </div>
      </div>
      <br><br>
      
      <div>
         <footer style="width: 100%;" class="footer-principal">
            <span class="span-footer-principal">
               Paquetería Tamazula &reg &nbsp&nbsp&nbsp&nbspTodos los derechos reservados
            </span>
         </footer>
      </div>


      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script type="text/javascript" src="inicio.js"></script>
      
   </body>
</html>