<!DOCTYPE HTML>
<html lang="en-US">
   <head>
      <meta charset="UTF-8">
      <title>Paquetería Tamazula - Sesión</title>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
      <link rel="stylesheet" href="inicio.css" />
   </head>
   <body>
      <div class="navigation">
         <div class="container">
            <div class="navbarra">
               <div class="logo-toggle-container">
                  <a href="inicio.html">
                  <img src="fotos_inicio/Paqueteria (2).png" alt="" />
                  </a>
                  <span class="toggle-box">
                  <span></span>
                  <span></span>
                  <span></span>
                  </span>
               </div>
               
               <ul class="menu">
                  <li><a href="inicio.html">Inicio</a></li>
                  <li><a href="servicios.html">Servicios</a></li>
                  <li><a href="envios.html">Envíos</a></li>
                  <li><a href="destinos_horarios.html">Destinos y horarios</a></li>
                  <li><a href="sucursales.html">Sucursales</a></li>
                  <li><a href="cotizar.html">Cotizar</a></li>
                  <a href="#">
                     <button type="button" class="btn btn-outline-primary">Hola, María</button>
                  </a>
               </ul>
            </div>
         </div>
      </div>

      <div class="section">
        <div style="width: 100%;" class="container2">
            <h1 class="main-text">Bienvenida: María</h1>
            <hr width="50" size="5" color="#3b7cff">
            <br>

            <div style="background-color: white; padding: 3%;">
               <a style="color:black;" href="#"><h3>Perfil</h3></a>
               <ul style="width: 70%;" class="list-group list-group-flush">
                  <li class="list-group-item">Nombre: María González</li>
                  <li class="list-group-item">Email: email@otrocorreo.com</li>
                  <li class="list-group-item">Dirección: Calle Luna #10, Col. Centro, Zapopan, Jal.</li>
                  <li class="list-group-item">RFC: FFF 1231231 OP0</li>
                  <li class="list-group-item">Método de pago: Paypal</li>
               </ul>
               <br>
               <button type="button" class="btn btn-primary">Editar perfil</button>
            </div>
             <br><br><br><br>

            <div style="background-color: white; padding: 3%;">
               <a style="color:black;" href="#"><h3>Historial de Cotizaciones</h3></a>
               <table class="table">
                  <thead>
                     <tr>
                        <th scope="col">Número de <br> Cotización</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Origen</th>
                        <th scope="col">Destino</th>
                        <th scope="col">Peso</th>
                        <th scope="col">Medidas</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr>
                        <th scope="row">1</th>
                        <td>10 oct 22</td>
                        <td>Guadalajara</td>
                        <td>Tamazula</td>
                        <td>500 gramos</td>
                        <td>30 cm x 30 cm x 30 cm</td>
                     </tr>
                     <tr>
                        <th scope="row">2</th>
                        <td>10 oct 22</td>
                        <td>Guadalajara</td>
                        <td>Tamazula</td>
                        <td>500 gramos</td>
                        <td>30 cm x 30 cm x 30 cm</td>
                     </tr>
                     <tr>
                        <th scope="row">3</th>
                        <td>10 oct 22</td>
                        <td>Guadalajara</td>
                        <td>Tamazula</td>
                        <td>500 gramos</td>
                        <td>30 cm x 30 cm x 30 cm</td>
                     </tr>
                  </tbody>
               </table>
            </div>
            <br><br>
        </div>
        <div>
            &nbsp
        </div>
      </div>
      <br><br>
      
      <div>
         <footer style="width: 100%;" class="footer-principal">
            <span class="span-footer-principal">
               Paquetería Tamazula &reg &nbsp&nbsp&nbsp&nbspTodos los derechos reservados
            </span>
         </footer>
      </div>


      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script type="text/javascript" src="inicio.js"></script>
      
   </body>
</html>