*
{
    margin:0;
    padding:0;
}


body
{
    width: 100%;
    height: 100vh;
    font-family: 'helvetica';
    font-weight: 200;
}

#iniciar_sesion{
    display:inline;
    position:absolute;
    right:20px;
    
}

#crear_cuenta{
    display:inline;
    position:absolute;
    right:150px;
    font-weight: bold;
}



.navbar-brand{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    
}



body{
    overflow-x: hidden; 
}

.row{
    padding:40px;
    background-color:lightgray;
}

.row>div{
    background-color:transparent;
}



.card {
    margin: 0 auto; 
    float: none; 
    margin-bottom: 10px; 
    width:300px;
    
}



.btn-primary:not(#iniciar_sesion)
{
    padding: 12px 25px;
    background-color: #3b7cff;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
    color: #fff;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
}


.btn-primary:hover:not(#iniciar_sesion)
{
    background-color: #BF192A;
}



.footer-principal {
    margin: auto;
    display:flex;
    padding: 30px;
    line-height: 2;
    background-color:#163470;
}

.footer-principal .span-footer-principal {
    font-size: 12px;
    padding-left: 35%;
    color: #fff;
}




@media (max-width:768px) {

    .navbar-brand{
        position: relative;
        left:0;
    }

    #crear_cuenta{
        position:relative;
        left:0;
    }

    #iniciar_sesion{
        position:relative;
        left:0;
        width:128.74px;
        height:38px;
    }


}





/*Cambiando el height del navbar*/
.navbar {
    min-height: 120px;
  }
  
  .navbar-brand {
    padding: 0 15px;
    height: 120px;
    line-height: 120px;
  }
  
  
  
  @media (min-width: 768px) {
    .navbar-nav > li > a {
      padding-top: 26.5px;
      padding-bottom: 26.5px;
      line-height: 27px;
    }
  }